{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Loggin</title>
    <link rel="stylesheet" href="{% static "bootstrap3/css/bootstrap.css" %}">
    <script type="text/javascript" src="{% static "plugin_js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap3/js/bootstrap.js" %}"></script>

</head>
<body>

<div class="container">
<div class="row">
  <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
      <h2>Login Administrador de Proyectos</h2>
  </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
        <div id="mensaje" class="alert alert-danger" role="alert">
        Texto de Al
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
<form id="form_login" class="form">

    {# bootstrap_form form #}
    <div class="form-group">
        <label for="username">usuario:</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="pwd" name="password">
    </div>

        <button type="submit" class="btn btn-primary">
            Submit
        </button>
</form>
    </div>
</div>
</div>
</body>
<script>
$(document).ready(function(){
    $('#mensaje').hide();

    $('#form_login').submit(function(event){
        event.preventDefault();
        $('#mensaje').hide();
        $.ajax({
           method: 'POST',
           contentType: 'application/x-www-form-urlencoded; chartset=UTF-8',
           url: 'login',
           dataType: 'json',
           data: $(this).serialize(),
           success: function(data, textStatus, jqXHR){
               var resp = data.resp;
               if(resp == 'exito'){
                   window.location.href = 'menu';
                   console.log('login exito');
               }else{
                   var mensaje = data.err;
                   mensaje = '<strong>'+mensaje+'</strong>';
                   $('#mensaje').html(mensaje);
                   $('#mensaje').show('slow');
                   /*
                   $('#mensaje').show('slow',function(){
                       $('#mensaje').hide('slow', function () {
                           $('#mensaje').html('');
                       });
                   });*/
                   console.log(mensaje);
               }
               console.log('data: '+resp);

           },
           error: function(jqXHR, textStatus, errorTrown){
               console.log('status: '+textStatus+' | error: '+errorTrown);
           }
        });
    });
});
</script>