{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Loggin</title>
    <link rel="stylesheet" href="{% static "bootstrap3/css/bootstrap.css" %}">
    <script type="text/javascript" src="{% static "plugin_js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap3/js/bootstrap.js" %}"></script>

</head>
<body>
<div class="container">
<div class="row">
    <div id="mensaje" class="col-md-6 col-sm-6 col-md-offset-3
                col-sm-offset-3 alert alert-danger" role="alert">
        Inicio de la Aplicacion - Me loggee carajo...Ojo no se inicio session
    </div>
</div>
</div>
</body>
</html>
<script>
$(document).ready(function(){
    console.log('Inicio');
});
</script>